openapi: "3.0.2"
# This is your document metadata.
info:
  title: Refund a customer
  description: |-
    Partners can refund transactions in relation to Direct Billing charges. Refunds must always relate to a Direct Billing original transaction.
  version: "0.14"
  # Servers where this API is hosted
servers:
  - url: https://api.ee.co.uk
    description: Production
  - url: https://api-sandbox.ee.co.uk
    description: Sandbox

# Describe your paths here
paths:
  /v1/charging/refunds/{chargeId}:
    post:
      summary: Refund charge
      operationId: refund-charge
      description: |-

        <p>Reverses the effects of an immediate or delayed charge.</p>

        <details><p>
        <summary><b>Sandbox responses</b></summary>

        <p>The sandbox supports a number of success and failure scenarios which can be simulated by changing the AMSR or MSISDN as defined in the tables below.</p>

        </summary><br>
        <details>
        <summary><b>Success scenarios</b></summary>  


        | AMSR | Sandbox response invoked | Description |
        | ----------- | ------------------- | ------------------ |
        | RgbSSTbGc9tB98gGg3c_lw.. | 200 | Refund including VAT (<i>vatTreatment</i> = ‘INTERNAL’) has been processed for unencrypted charge id. | 
        | r6Vb6XCTA0FsmHy6KoroTA.. | 200 | Refund excluding VAT (<i>vatTreatment</i> = ‘EXTERNAL’) has been processed for encrypted charge id. |

        | MSISDN | Sandbox response invoked | Description |
        | ----------- | ------------------- | ------------------ |
        | Default | 200 | Refund including VAT (<i>vatTreatment</i> = ‘INTERNAL’) has been processed for unencrypted charge id. | 
        | 000001 | 200 | Refund excluding VAT (<i>vatTreatment</i> = ‘EXTERNAL’) has been processed for encrypted charge id. |

        </details>
        <details><br>
        <summary><b>Error scenarios</b></summary>    

        | AMSR | Sandbox response invoked | Description |
        | ----------- | ------------------- | ------------------ |
        | 2aUDrXxlNiKcibBYrmno_Q.. | 400, 24 | Serial number not unique. |
        | QN7TUPmkrFbzDtnl_Fd-2g.. | 400, 24 | MSISDN is not present. |
        | PiHYhWaRs4t8S2v4rdAyVg.. | 400, 102 | Charging operation failed. |
        | dLMyKGkuk3lhcTXkwSfbbQ.. | 400, 104 | Refund not allowed. |
        | 7PPFPgK7a27wPUwXjq32XA.. | 503, 05	| The service is temporarily unavailable. |

        | MSISDN | Sandbox response invoked | Description |
        | ----------- | ------------------- | ------------------ |
        | 999014 | 400, 24 | Serial number not unique. |
        | 999000 | 400, 24 | MSISDN is not present. |
        | 999013 | 400, 102 | Charging operation failed. |
        | 999012 | 400, 104 | Refund not allowed. |
        | 999015 | 503, 05	| The service is temporarily unavailable. |


        </details>
        </details>

      x-codeSamples:
        - lang: "Shell"
          label: cURL
          source: |
            curl -XPOST 
            -H "X-EE-EL-Tracking-Header:96bb97fa-b941-46bb-8c4e-86c616c28a13"
            -H "X-EE-API-Originator:MyCompany"
            -H "Authorization:Bearer SZrYQsmi9tvGj1XwmKr5lXD4dpXY"
            -H "Content-Type:application/json" 
            https://api-sandbox.ee.co.uk/v1/charging/refunds/1234
            -d
            {
              "msisdn": "447700900000",
              "serialNumber": "A12654375981"
            }

      security:
        - OAuth2: []
      # parameter section
      parameters:
        - name: X-EE-EL-Tracking-Header
          in: header
          example: 96bb97fa-b941-46bb-8c4e-86c616c28a13
          description: A unique reference used to track the transaction end to end. The recommended format is UUID (a 36-character alphanumeric string "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX").
          required: true
          schema:
            type: string
            $ref: "#/components/schemas/trackingHeader"

        - name: X-EE-API-Originator
          in: header
          example: MyCompany
          description: "Represents partner name."
          required: true
          schema:
            type: string

        - name: Authorization
          in: header
          example: Bearer <token>
          description: "This contains the access token obtained from a call to the OAuth API.</br> The access token is prefixed with the word 'Bearer ' to form the authorisation string."
          required: true
          schema:
            type: string

        - name: Content-Type
          in: header
          description: The only supported format for the request body is 'application/json'.
          required: true
          schema:
            type: string

        - name: chargeId
          in: path
          example: 1234
          description: Unencrypted/encrypted charge id which is the unique reference to identify the charge transaction which is being refunded.
          required: true
          schema:
            type: string

      requestBody:
        content:
          application/json:
            schema:
              properties:
                amsr:
                  type: string
                  example: 2aUDrXxlNiKcibBYrmno_Q..
                  description: An anonymised UK mobile phone number.<br>Note that either <i>amsr</i> or <i>msisdn</i> must be supplied.
                msisdn:
                  type: string
                  example: 447876099282
                  description: UK mobile phone number (12 digits in international format, e.g. 447700900000).<br>Note that either <i>amsr</i> or <i>msisdn</i> must be supplied.
                serialNumber:
                  type: string
                  example: A12654375981
                  maxLength: 18
                  description: "Unique serial number provided by the partner for the transaction which is being refunded."
              oneOf:
                - required: [amsr]
                  title: AMSR
                - required: [msisdn]
                  title: MSISDN

            examples:
              MSISDN as input parameter with plain chargeId:
                description: |-

                value:
                  msisdn: "447700900000"
                  serialNumber: A12654375981

              AMSR as input parameter with encrypted chargeId:
                description: |-

                value:
                  amsr: gjPab2w1z2_Zg-ZJIpyQ-g..
                  serialNumber: A12654375981

      # Expected responses for this operation:
      responses:
        # Response code
        "201":
          description: |
            Created
          # Response body content.
          content:
            # JSON response with a schema referenced from the
            # components object.
            application/json:
              schema:
                $ref: "#/components/schemas/refund-charge"
              examples:
                With unencrypted chargeId:
                  value:
                    {
                      "amountRefunded": 500,
                      "vatTreatment": "INTERNAL",
                      "chargeId": 1234,
                    }
                With encrypted chargeId:
                  value:
                    {
                      "amountRefunded": 500,
                      "vatTreatment": "INTERNAL",
                      "chargeId": "MTIzNDU2Ng==",
                    }

        "400": # status code
          description: |
            Bad Request

            | Code | Message | Description |
            | ---- | ------- | ----------- |
            | 23 | Missing body field: \<parameter\> | The indicated parameter is missing from the body of the request. |
            | 24 | Invalid body field: \<parameter\> | The indicated parameter in the body of the request is not recognised. |
            | 26 | Invalid header value: <parameter> | The indicated parameter in the request header is not recognised. |
            | 29 | Bad request | A general bad request error where we don't want to be any more specific. |
            | 102 | Invalid bill description | The reservation has expired in the back-end system. |
            | 104 | Refund not allowed | If refund is not permitted. |

          # Response body content.
          content:
            # JSON response with a schema referenced from the
            # components object.
            application/json:
              schema:
                $ref: "#/components/schemas/FailureResponse"
              example:
                { "code": "23", "message": " Missing body field: <parameter>" }
          headers:
            APIGW-Exception:
              schema:
                type: string
              description: Header carrying the message of the exception.
            APIGW-Exception-Code:
              schema:
                type: string
              description: Header carrying the code of the exception.
            APIGW-Exception-System:
              schema:
                type: string
              description: Header carrying the system from which the exception has originated.
            Content-Type:
              schema:
                type: string
              description: This indicates the format of the error response.

        "401": # status code
          description: |
            Unauthorized

            | Code | Message | Description |
            | ---- | -------   | ----------- |
            | 25 | Missing header (X-EE-API-Originator) | The error is returned when mandatory <i>X-EE-API-Originator</i> is not passed in the request header. |
            | 26 | Invalid header value | The indicated parameter in the request header is not recognised. |
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FailureResponse"
              example:
                {
                  "code": "25",
                  "message": "Missing header (X-EE-API-Originator)",
                }
          headers:
            APIGW-Exception:
              schema:
                type: string
              description: Header carrying the message of the exception.
            APIGW-Exception-Code:
              schema:
                type: string
              description: Header carrying the code of the exception.
            APIGW-Exception-System:
              schema:
                type: string
              description: Header carrying the system from which the exception has originated.
            Content-Type:
              schema:
                type: string
              description: This indicates the format of the error response.

        "404": # status code
          description: |
            Not Found

            | Code | Message | Description |
            | ---- | -------   | ----------- |
            | 60 | Resource not found | The requested URI or the resource does not exist. |
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FailureResponse"
              example: { "code": "60", "message": "Resource not found" }
          headers:
            APIGW-Exception:
              schema:
                type: string
              description: Header carrying the message of the exception.
            APIGW-Exception-Code:
              schema:
                type: string
              description: Header carrying the code of the exception.
            APIGW-Exception-System:
              schema:
                type: string
              description: Header carrying the system from which the exception has originated.
            Content-Type:
              schema:
                type: string
              description: This indicates the format of the error response.

        "405": # status code
          description: |
            Method not allowed	

            | Code | Message   | Description |
            | ---- | -------   | ----------- |
            | 61 | Method not allowed | The requested method is not supported by this resource. |

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FailureResponse"
              example: { "code": "61", "message": "Method not allowed" }
          headers:
            APIGW-Exception:
              schema:
                type: string
              description: Header carrying the message of the exception.
            APIGW-Exception-Code:
              schema:
                type: string
              description: Header carrying the code of the exception.
            APIGW-Exception-System:
              schema:
                type: string
              description: Header carrying the system from which the exception has originated.
            Content-Type:
              schema:
                type: string
              description: This indicates the format of the error response.

        "408": # status code
          description: |
            Request time-out

            | Code | Message   | Description |
            | ---- | -------   | ----------- |
            | 63 | Request time-out | The server timed out waiting for the client request. |

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FailureResponse"
              example: { "code": "63", "message": "Request time-out" }
          headers:
            APIGW-Exception:
              schema:
                type: string
              description: Header carrying the message of the exception.
            APIGW-Exception-Code:
              schema:
                type: string
              description: Header carrying the code of the exception.
            APIGW-Exception-System:
              schema:
                type: string
              description: Header carrying the system from which the exception has originated.
            Content-Type:
              schema:
                type: string
              description: This indicates the format of the error response.

        "414": # status code
          description: |
            Request-URI too long

            | Code | Message   | Description |
            | ---- | -------   | ----------- |
            | 67 | Request-URI too long | The URI provided is too long for the server to process. |

          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FailureResponse"
              example: { "code": "67", "message": "Request-URI too long" }
          headers:
            APIGW-Exception:
              schema:
                type: string
              description: Header carrying the message of the exception.
            APIGW-Exception-Code:
              schema:
                type: string
              description: Header carrying the code of the exception.
            APIGW-Exception-System:
              schema:
                type: string
              description: Header carrying the system from which the exception has originated.
            Content-Type:
              schema:
                type: string
              description: This indicates the format of the error response.

        "500": # status code
          description: |
            Internal Server Error

            | Code | Message | Description |
            | ---- | ------- | ----------- |
            | 01 | Internal error | BT error code. |
            | 01 | Internal Server Error | BT error code. |
            | 02 | Internal Server Error | MS downstream error. |
            | 100 | General resource error | BT error code. |
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FailureResponse"
              example: { "code": "01", "message": "BT error code" }
          headers:
            APIGW-Exception:
              schema:
                type: string
              description: Header carrying the message of the exception.
            APIGW-Exception-Code:
              schema:
                type: string
              description: Header carrying the code of the exception.
            APIGW-Exception-System:
              schema:
                type: string
              description: Header carrying the system from which the exception has originated.
            Content-Type:
              schema:
                type: string
              description: This indicates the format of the error response.

        "503": # status code
          description: |
            Service Unavailable

            | Code | Message | Description |
            | ---- | -------   | ----------- |
            | 05 | The service is temporarily unavailable | Please try again later. |
            | 06 | Over capacity – retry later | Please try again later. |
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FailureResponse"
              example:
                {
                  "code": "05",
                  "message": "The service is temporarily unavailable",
                }
          headers:
            APIGW-Exception:
              schema:
                type: string
              description: Header carrying the message of the exception.
            APIGW-Exception-Code:
              schema:
                type: string
              description: Header carrying the code of the exception.
            APIGW-Exception-System:
              schema:
                type: string
              description: Header carrying the system from which the exception has originated.
            Content-Type:
              schema:
                type: string
              description: This indicates the format of the error response.

components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: This API requires [OAuth API](/node/360) validation.
      flows:
        clientCredentials:
          tokenUrl: https://api.platform.bt.com/oauth/accesstoken?grant_type=client_credentials
          scopes: {}

  schemas:
    trackingHeader:
      type: string
      description: A unique client reference used to track the transaction end to end; it is recommended that the developer and app names are included for ease of debugging. The recommended format is UUID (a 36-character alphanumeric string "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX").
      pattern: ^[\w.~:@-]{1,255}$
    refund-charge:
      type: object
      properties:
        amountRefunded:
          type: number
          description: Amount refunded to the customer.
        vatTreatment:
            type: string
            description: >-
              <p>Indicates which party is responsible for handling the VAT.</p>
              <ul>
                <li>Internal transactions will have the VAT handled by EE.</li>
                <li>External transactions will have the VAT handled by the partner.</li>
              </ul> 
            enum:
              - INTERNAL
              - EXTERNAL
        chargeId:
          type: number
          description: Unencrypted/encrypted charge id which is the unique reference to identify this refund transaction.

    FailureResponse:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          description: Represents the error code.
        message:
          type: string
          description: Represents the error message.
